
/* common css part  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background-color: #f5f7ff;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn-success{
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 16px 26px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-success:hover {
  background-color: #bfca21;
  color: black;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(78, 71, 255, 0.4);
}
.btn-success-full{
    width: 100%;
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 16px 26px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-success-full:hover {
  background-color: #bfca21;
  color: black;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(78, 71, 255, 0.4);
}
/* shared styles  */

/* header styles  */
.header{
  background-image: linear-gradient(rgba(245, 248, 255, 0.6), rgba(245, 248, 255, 0.6)),
                  url('../Assets/Hero-bg.png');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
    padding-top: 50px;
}
.nav-title{
    font-weight: 800;
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}

/* banner part styles  */
.banner{
    display: flex;
    justify-content: center;
    margin: 237px 267px;
}
.banner-content{
    max-width: 900px;
    display: block;
    justify-content: center;
    align-items: center;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
.btn-margin{
    margin-top: 37px;
    margin-left: 310px;
}

/* preview part style  */
.preview-content{   
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 150px  150px ;
    gap: 100px;
}
.preview-action{
    max-width: 500px;
}
.preview-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 23px;
}
.preview-description{
    font-size: 24px;
    color: #252432;
    margin-bottom: 23px;
}
.preview-image img{
    border-radius: 20%;
}

/* join user section style  */
.join-user{
    width: 1140px;
    height: 306px;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 150px auto;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.join-user-title{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin-bottom: 40px;
}
.join-user-items{
    display: flex;
    justify-content: space-evenly;
}
.user-item-title{
    font-weight: bold;
    font-size: 80px;
    color: rgba(78, 71, 255, 1);
}
.join-user-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/* user say part start  */
.user-say{
    width: 1140px;
    height: 306px;
    margin: 150px auto;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.user-say-content{
    display: flex;
    gap: 20px;

}
.join-user-title{
    margin-bottom: 40px;
}
.user-say-card{
    width: 506px;
    height: 243px;
    background-color: #FFFFFF;
    padding: 10px;
    text-align: left;
    border-radius: 5%;
}
.star-icon{
    margin-top: 15px;
}
.user-say-title{
    font-weight: 700;
    font-size: 26px;
    color: #252432;
    margin-top: 15px;
    margin-bottom: 8px;
}
.user-say-description{
     font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.name {
  margin-left: 7px;
  color: rgba(117, 117, 117, 1);
  font-size: 18px;
}
.date {
  margin-left: 7px;
  color: rgba(179, 179, 179, 1);
  font-size: 14px;
}
/* focus section style  */
.focus{
    width: 1140px;
    height: 660px;
    margin: 150px auto;
    border-radius: 5%;
    text-align: center;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.focus-title{
    font-weight: bold;
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}
.focus-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}
.focus-content button{
    margin-bottom: 20px;
}
.focus-content img{
    width: 840px;
    height: 364px;
    border-radius: 5%;
}
/* get in touch section style  */
input[type="email"], input[type="text"], textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
.get-in-touch{
    width: 1140px;
    height: 632px;
    margin: 0 auto;
}
.get-in-touch-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.get-in-touch-one{
    width: 550px;
}
.get-in-touch-title{
    font-weight: bold;
    font-size: 97px;
    color: #000000;
}
.git-in-touch-form{
    width: 500px;
}
.label-input-field{
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    padding-bottom: 2px;
}

/* footer section style  */
.footer-content{
    width: 100%;
    height: 430px;
    background-color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.footer-title{
    font-weight: bold;
    font-size: 100px;
    color: rgba(78, 71, 255, 1);
}
.footer-menu ul {
    list-style: none;
    margin: 20px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-menu li {
    font-size: 16px;
    color: #8987A1;
    cursor: pointer;
}
.footer-description {
  max-width: 500px;
  margin: 10px auto;
  font-size: 16px;
  color: #8987A1;
  line-height: 1.6;
}
ul ,li, a{
      text-decoration: none;
       color: #8987A1;
}